<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
     <div class="main-content">
        {{>header}}
        <p>This site was created by Mona. It uses data from mapbox.com and wheatherstack.com!</p>
        <img class="portrait" src="/img/images.jpeg">
        </div>
    {{>footer}}
</body>

</html>